body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#Logo {
    transition: 1s;
}
.DCLogoHover {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: 1s;
}
nav {
    background-color: rgba(0, 0, 0, 0) !important;
}
.description {
    color: white;
    height: auto;
    padding-top:20vh;
    box-sizing: border-box;
}
.principalsection {
    box-sizing: border-box;
    padding: 10vh;
    height: 100vh;
    background-image: url(../assets/images/FFTwo.jpg);
    background-size: cover;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: 1s;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}
.blackback {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
}
.secondarySection{
    height: 100vh;
    box-sizing: border-box;
    padding-top: 25vh;
}
.principalText {
    font-family: 'Roboto', sans-serif;
}
.secondaryText {
    font-family: 'Raleway', sans-serif;
}
.leftblock {
    outline: blueviolet 1px solid;
}
.profilePhoto {
    width: 100%;
}
.thirdSection {
    height: 100vh;
    padding-top: 25vh;
}
.icoSkills {
    margin: 1vh 1vh;
    width: 80px;
    height: 80px;
    box-shadow: 1px 2px 4px gray;
    border-radius: 20px;
}

.icoSkillsThree {
    width: auto;
    height: 80px;
    margin:1vh 1vh;
}
.icons {
    /*outline: 1px solid red;*/
    box-sizing: border-box;
    padding: 3%;
    height: 20vh;
}
.FourSection {
    padding-top: 25vh;
}
.mockUp {
    width: auto;
    height: 30vh;
    margin: 5px;
    box-sizing: border-box;
}
#workOne, #workTwo, #workThree {
    height: auto;
    padding-left: 5vh;
    padding-top: 5vh;
    padding-bottom: 2vh; 
}
.borderTag {
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
    margin: 3px;
    color: white;
}
.blockButton {
    margin: 10px;
    padding-left: 16vh;
    padding-right: 16vh;
}
.tags {
    padding-left: 5vh;
    padding-right: 5vh;
}
.finalSection {
    background-color: #333;
    height: 10vh;
    color: white;
    box-sizing: border-box;
    padding: 2vh;
}
.btnlink  {
    padding: 10px;
    background: none;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    width: 40px;
    height: 40px;
    margin: 3px;
    transition: 1s;
}
.btnlink:hover {
    background-color: white;
    color: #333;
    transition: 1s;
}
/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .FourSection {
    height: 100vh;
    } 
}