/* fondo azul noche #111926
 medo turquesa #24a9a8
medio turquesa oscuro #16313b
trquesa raro #116360
rojo anaranjado #f15d4a
*/
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#Logo {
    transition: 1s;
}
.DCLogoHover {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: 1s;
}
.sidenav {
    z-index: 1000 !important;
}
nav {
    background-color: rgba(0, 0, 0, 0) !important;
}
.description {
    color: white;
    height: auto;
    margin-top: 20vh;
    box-sizing: border-box;
    text-shadow: 1px 2px 8px black;
}
.principalsection {
    box-sizing: border-box;
    padding: 10vh;
    height: 100vh;
    background-image: url(../assets/images/backgroundimage.jpg);
    background-size: cover;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: 1s;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}
.blackback {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
}
.secondarySection{
    height: auto;
    box-sizing: border-box;
    margin-top: 5vh;
}
#aboutMe {
    text-align: center;
}
.secondarySection .rightblock > p{
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 5px;
}
.mt-5 {
    margin-top: 5vh;
}
.principalText {
    font-family: 'Roboto', sans-serif;
}
.secondaryText {
    font-family: 'Raleway', sans-serif;
}

.profilePhoto {
    height:  auto;
    border-radius: 200px;
    margin: 0 2vh; 
}
.thirdSection {
    height: auto;
    box-sizing: border-box;
    padding-top: 10vh;
    background-color: #333;
    color: white;
}

.FourSection {
    height: auto;
}
.mockUp {
    width: auto;
    height: 25vh;
    box-sizing: border-box;
}
.mockUpMobile {
    height: 50vh;
    width: auto;
}
/* Trabajos */
.editation {
    border-color: lightgrey;
    margin: 5vh;
    display: block;
}
.borderTag {
    padding: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    color: white;
}
.blockButton {
    margin: 10px;
    padding-left: 15vh;
    padding-right: 15vh;
}
.tags {
    padding-left: 2vh;
    padding-right: 2vh;
}
.finalSection {
    background-color: #333;
    height: auto;
    color: white;
    box-sizing: border-box;
    padding: 2vh;
    width: 100%;
    clear: both;
}
.btnlink  {
    padding: 10px;
    background: none;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    width: 40px;
    height: 40px;
    margin: 3px;
    transition: 1s;
}
.btnlink:hover {
    background-color: white;
    color: #333;
    transition: 1s;
}
.contact {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    border-bottom: 1px solid gray;
    height: auto;
    margin-bottom: 0 !important;
}
.space {
    margin: 1vh;
}
/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
    .secondarySection{
        height: 90vh;
        box-sizing: border-box;
        margin-top: 10vh;
    }
    .description {
        color: white;
        height: auto;
        margin-top: 35vh;
        box-sizing: border-box;
        text-shadow: 1px 2px 8px black;
    }
    .icons {
        padding: 3%;
    }
    .mockUp {
        width: auto;
        height: 30vh;
        margin-top: 10vh;
        box-sizing: border-box;
    }
    .mockUpMobile {
        height: 50vh;
        width: auto;
    }
  .FourSection {
        height: auto;
    } 
   .profilePhoto {
        margin: 5vh 20vh;
    }
    .workcenter {
    padding-left: 20vh !important;
    padding-right: 10vh !important;
    }
}
/* Ultra mobile */
@media (max-width: 360px) {
    .profilePhoto {
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 320px) {
    .profilePhoto {
        margin: 0;
        width: 100%;
    }
    .btnshort {
        margin-bottom: 1vh;
    }
}